* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #000000, #3282B8);
}

/* Center Page */
.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.login-card {
    width: 350px;
    padding: 35px 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Heading */
.heading {
    text-align: center;
}

.heading h2 {
    margin-bottom: 5px;
}

.heading p {
    font-size: 14px;
    color: #d6e0ec;
}

/* Input Group */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #ccc;
}

/* Input Wrapper for Icon */
.input-wrapper {
    position: relative;
}

.input-wrapper i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

/* Inputs */
.input-group input {
    width: 100%;
    height: 45px;
    padding: 0 14px 0 40px;
    /* space for icon */
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    font-size: 15px;
    background: #1e1e1e;
    color: white;
    transition: 0.25s ease;
}

.input-group input:focus {
    border-color: #246fbf;
    box-shadow: 0 0 8px rgba(76, 201, 240, 0.4);
}

/* Spacing Between Groups */
.input-group+.input-group {
    margin-top: 15px;
}

/* Forgot Password */
.forgot-row {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding: 10px 0 30px;
}

.forgot-row a {
    color: #246fbf;
    text-decoration: none;
}

.forgot-row a:hover {
    text-decoration: underline;
}

/* Button */
.login {
    width: 100%;
    padding: 12px;
    background-color: #246fbf;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.login:hover {
    background-color: #4388d1;
    box-shadow: 0 0 10px #4667dd,
        0 0 20px #4667dd;
    transform: scale(1.03);
}